@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/*#region Mediaqueries*/
/* Styles pour les grands écrans (PC) */
@media (min-width: 1024px) {
  h1 {
      font-size: 6em;
  }
  .btn {
      font-size: 20px;
      padding: 0.5em 1.5em;
  }
}

/* Styles pour les tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
      font-size: 4em;
  }
  .btn {
      font-size: 18px;
      padding: 0.4em 1.2em;
  }
}

/* Styles pour les téléphones */
@media (max-width: 767px) {
  h1 {
      font-size: 3em;
      top: 20%; /* Ajuster la position pour les petits écrans */
      left: 50%;
      transform: translateX(-50%);
  }
  .btn {
      font-size: 16px;
      padding: 0.3em 1em;
      margin: 1rem;
      width: 80%;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2em;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

}
/*#endregion*/


body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2d2d2d;
  overflow: hidden;
}

/*#region title*/
h1 {
  font-size: 6em;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  background: linear-gradient(to right, #84bee5, #0030cf);
  /* background: linear-gradient(to right, #84bee5, #4f71e2); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-50%);
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
h2 {
  font-size: 6em;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  background: linear-gradient(to right, #84bee5, #0030cf);
  /* background: linear-gradient(to right, #84bee5, #4f71e2); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-50%);
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
/*#endregion*/

/*#region button*/
.btn {
  --border-color: linear-gradient(-45deg, #0011ff, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #2d2d2d;
  font-weight: bold;
  --color: #ffffff;
  text-shadow: 2px 2px 0px #000000, 3px 3px 0px rgba(0, 0, 0, 0.15);
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  margin: 5rem;
  font-size: 20px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  --color: #ffffff;
  text-shadow: 2px 2px 0px #000000, 3px 3px 0px rgba(0, 0, 0, 0.15);
}

/*Use for back button position*/
.nav-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  .h2 {
    position: absolute;
  }
}
.btn-back {
  background: linear-gradient(
    0deg,
    rgb(18, 144, 218) 0%,
    rgb(61, 65, 199) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*#endregion */
