.btn-back {
    background: linear-gradient(
      0deg,
      rgb(18, 144, 218) 0%,
      rgb(61, 65, 199) 100%
    );
    line-height: 42px;
    padding: 0;
    border: none;
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  /*use for the button design*/
.btn {
    --border-color: linear-gradient(-45deg, #0011ff, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #2d2d2d;
    font-weight: bold;
    --color: #ffffff;
    text-shadow: 2px 2px 0px #000000, 3px 3px 0px rgba(0, 0, 0, 0.15);
    color: var(--color);
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    margin: 5rem;
    font-size: 20px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    --color: #ffffff;
    text-shadow: 2px 2px 0px #000000, 3px 3px 0px rgba(0, 0, 0, 0.15);
  }
  


  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #2d2d2d;
    overflow: hidden;
  }
  
  h1, h2 {
    font-size: 6em;
    color: white;
    position: relative;
    background: linear-gradient(to right, #84bee5, #0030cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-top: 100px; /* Add margin to push down the grey box */
  }
  
  .nav-wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10; /* Ensure the button is on top */
  }
  
  .btn-back {
    background: linear-gradient(
      0deg,
      rgb(18, 144, 218) 0%,
      rgb(61, 65, 199) 100%
    );
    line-height: 42px;
    padding: 0;
    border: none;
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  .grey-box {
    background: grey;
    width: 80%;
    height: 500px; /* Adjust the height as necessary */
    border-radius: 20px; /* Rounded corners */
    z-index: 1; /* Ensures the box is above the background */
    position: relative;
  }
  